*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 20px;
}

.transactions-container {
  max-width: 800px;
  margin: auto;
 
  padding: 25px;
  border-radius: 12px;
  background: #f5f5f5;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.transactions-header h2 {
  font-size: 30px;
  font-weight: bold;
 
}


.see-all {
  color: gray;
  font-size: 30px;
  cursor: pointer;
}

.transaction-card {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 15px;
  margin-bottom: 23px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
.transaction-details {
  flex-grow: 1;
}

.transaction-details h3 {
  font-size: 30px;
  margin: 0;
  line-height: 50px;
}

.transaction-date {
  color: gray;
  font-size: 30px;
  line-height: 40px;
}

.transaction-amount {
  text-align: right;
  line-height: 40px;
}

.transaction-amount span {
  font-size: 35px;
  font-weight: bold;
}

.green {
  color: rgb(13, 204, 13);
}

.red {
  color: red;
}

.transaction-amount p {
  font-size: 30px;
  margin: 0;
  color: black;
}
